@{
    ViewBag.Title = "HomePage";
    //Layout = null;
}

<h2>
    Welcome To Student's Manager
    <button class="btn btn-sm btn-primary ml-xl-5" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-plus"></i></button>
    <!-- Toast -->
    <div class="toast float-right">
        <div class="toast-header bg-success text-white">
            <i class="fa fa-check p-2"></i>
            <span class="change-toast-text"> Succesfully Deleted</span>
        </div>
    </div>
</h2>

<table class="table table-bordered table-striped table-hover" id="dataTableId">
    <thead class="bg-primary text-white">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Department Name</th>
            <th>Department Location</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@Html.ActionLink("Add New Department", "AddDepartment", "Home") | @Html.ActionLink("View Departments", "ViewDepartment", "Home")

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Student</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @{ Html.RenderAction("AddStudent", "Home"); }
            </div>
            <div class="modal-body">
                @*@{ Html.RenderAction("Edit", "Home"); }*@
            </div>
        </div>
    </div>
</div>