body{
    /* background: red; */
}
.lgb{
    float: right;
}
div >img{
    height: 280px;
    width: fit-content;
    width: -webkit-fill-available;
}
small{
    color: grey;
}
nav>img{
    height: 40px;
    width: 40px;;
}
section{
    margin-top: 5px;;
}
nav > span{
    margin-left: 10px;;
   
}