
@{
    ViewBag.Title = "First MVC App";
}

<h2 class="text-center">Welcome to my first ASP.NET MVC APPLICATION</h2>
<p class="text-primary text-right"> ~ Anubhav Gupta </p>
@Html.ActionLink("See Profile", "Search", "Employee", new { area = "fghj" }, new { @class = "btn btn-info" })
<a class="btn btn-primary" href="~/Employee/Anubhav">>> next</a>
